#root {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.woff2") format("woff2"),
    url("../assets/fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+00-FF, U+980-9FF;
  font-feature-settings: "smps" on;
  font-display: swap;
}

body {
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading-container {
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.loading {
  line-height: 36px;
  font-weight: 600;
  font-size: 24px;
  color: #b2b5bb;
}

.error-container {
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.error {
  line-height: 36px;
  font-weight: 600;
  font-size: 24px;
  color: #8c2828;
}
